{% extends 'app/base.html' %}

{% block content %}

<div class="photo-detail">
  <img src="{{ photo.image.url }}" class="photo-img">
  <div class="photo-info">
    <a href="{% url 'app:user_detail' photo.user.id %}">@{{ photo.user }}</a>
  </div>

  <h2>{{ photo.title }}</h2>
  <p>{{ photo.comment }}</p>

  {% if request.user == photo.user %}
  <form method="post" action="{% url 'app:delete_photo' photo.id %}">
    {% csrf_token %}
    <button class="btn" type="submit"
    onclick='return confirm("本当に削除しますか？");'>削除</button>
  </from>
  {% endif %}
</div>
{% endblock %}
